# Ignore everything by default
/*

# Allow important directories
!addons/
!nodejs/

# Ignore everything inside these folders by default
addons/*
nodejs/*

# Allow specific modules inside addons
!addons/whatsapp_integration_test/
!addons/whatsapp_integration_test/
!addons/live_chat/
# Allow specific files inside nodejs
!nodejs/server.js
!nodejs/package.json
!nodejs/index.js

# Ignore cache, compiled Python, and system files
__pycache__/
*.pyc
*.pyo
.DS_Store

# Allow this .gitignore itself
!.gitignore
