# Ignore everything in the root directory
/*

# But do not ignore the addons folder itself
!addons/
!nodejs/

# Ignore everything inside addons by default
addons/*
nodejs/*


# But do not ignore whatsapp_integration inside addons
!addons/whatsapp_integration/
!addons/whatsapp_integration_test/
!nodejs/server.js
!nodejs/package.json
!nodejs/index.js

# Ensure all contents inside whatsapp_integration and whatsapp_integration_test are included
!addons/whatsapp_integration/**
!addons/whatsapp_integration_test/**
!addons/whatsapp_integration_test/specific_file.txt
!nodejs/server.js
!nodejs/package.json
!nodejs/index.js


!.gitignore